<div class="body">
    <div  *ngIf="!deckData" class="deckData">
        <app-loading></app-loading>
    </div>
    <div *ngIf="deckData" class="deckData">
        <h3>Deck : {{deckData.name}}</h3>
        Owned By: <a href="/player/{{deckData.owner}}">{{deckData.owner}}</a>
    </div>
    <ul *ngIf="deckData" class="deckData">
        <h3>Cards</h3>
        <ul class="cards">
            <li *ngFor="let card of deckData.cards; let i = index" class="cardPreview">
                <a href="/card/{{card.name}}">{{card.name}}
                    <br>
                    <img src="../../assets/images/cards/{{card.textureName}}.png">
                </a>
            </li>
        </ul>
    </ul>
    <div *ngIf="deckData" class="deckData">
        <h3>Stats</h3>
        <p>Total Matches: {{deckData.matches}}</p>
        <p>Wins: {{deckData.wins}}</p>
        <p>Win Rate: {{(deckData.matches === 0.00 ? 0 : (deckData.wins / deckData.matches * 100)) | number : '1.2-2'}}</p>
    </div>
</div>