.playersearch {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.field {
    display: inline-block;
    padding: 20px;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #6d758d;
    border-radius: 40px;
    border: 1px solid black;
}

.field * {
    width: 100%;
}