<div class="body">
    <div class="cardData">
        <div class="cardStats">
            <div>
                <h2>Card</h2>
                <h3>{{cardData.name}}</h3>
                <div class="ability">
                    <img src="../../assets/images/cards/{{cardData.textureName}}.png" width="200px" style="background-color: #333941; border: 1px solid black">
                    <div class="abilityInfo">
                        Health: {{cardData.maxHealth}}
                        <br>
                        Attack: {{cardData.maxAttack}}
                        <br>
                        Defense: {{cardData.maxDefense}}
                        <br>
                        Run Requirements: {{cardData.runRequirements}}
                    </div>
                    <div class="abilityInfo">
                        ID: {{cardData.id}}
                        <br>
                        Collection: {{cardData.collection}}
                    </div>
                </div>
                
            </div>
            <div>
                <h2>Ability</h2>
                <h3>{{cardData.ability.name}}</h3>
                <div class="ability">
                    <img src="../../assets/images/abilities/{{cardData.ability.textureName}}.png" width="200px" style="background-color: #333941;  border: 1px solid black">
                    <p class="abilityInfo" style="width: 50%;">{{cardData.ability.description}} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="cardData">
        <h2>Components</h2>
        <ul class="components">
            <li *ngFor="let component of cardData.runComponents; let i = index;" class="component">
                <img src="../../assets/images/components/{{component.textureName}}.png" width="72px">
            </li>
        </ul>
    </div>
</div>